#app {
	height: 100vh;
	display: grid;
	grid-template-columns: 80px auto;
}

#sidebar {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-right: 1px solid #333;
	padding: 8px;
}

#game-window {
	background: #111;
	display: block;
}

button {
	width: 100%;
	padding: 5px 2px;
	background: #252526;
	border: 1px solid #333;
	border-radius: 4px;
	color: #e1e1e1;
	font-size: 10px;
}

button:hover {
	background: #333;
	border-color: #444;
}

button:active {
	background: #181818;
	border-color: #333;
}