#app {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
}

#sidebar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #333;
	padding: 8px;
	gap: 0.5em 2em;
}

#game-window {
	background: #111;
	display: block;
}

button {
	background: #252526;
	border: 1px solid #333;
	padding: 0.5em 1em;
	border-radius: 4px;
	color: #e1e1e1;
	font-size: 11px;
}

button:hover {
	filter: brightness(1.25);
}

button:active {
	filter: brightness(0.75);
}

.btn-toggled {
	background: #111;
}

.gradient {
	background: linear-gradient(90deg, #ff0000 12.5%, #00ff00, #0000ff 87.5%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rotate-hue 3s linear infinite;
}

.header-section {
	display: flex;
	align-items: center;
	gap: 5px;
}

.header-text {
	font-size: 11px;
}

@keyframes rotate-hue {
	from {
		filter: hue-rotate(0deg);
	}

	to {
		filter: hue-rotate(360deg);
	}
}